<div class="code-area">
  <span style="color: #777;font-style:italic;">
    // 404 page not found.
  </span>
  <span>
    <span style="color:#d65562;">
      if
    </span>
	  (<span style="color:#4ca8ef;">!</span><span style="font-style: italic;color:#bdbdbd;">found</span>)
    &#123;
  </span>
  <span>
    <span style="padding-left: 15px;color:#2796ec">
       <i style="width: 10px;display:inline-block"></i>throw
    </span>
    <span>
      (<span style="color: #a6a61f">"FOTA team rocks 🤘"</span>);
    </span>
	  <span style="display:block">&#125;</span>
	  <span style="color: #777;font-style:italic;">
      // <a *ngIf="suggestedPath; else goHome" href="javascript:void(0)" [routerLink]="suggestedPath" class="btn-go-home">Did you mean "{{ suggestedPath }}"?</a>
      <ng-template #goHome>
        // <a href="javascript:void(0)" routerLink="/" target="_self">Go Back Home</a>
      </ng-template>
	  </span>
  </span>
</div>
