<div class="page">
  <div class="container">
    <app-add-modal (memberChange)="newTeam($event)" ModalType="team"></app-add-modal>

    <div class="row mt-2" *ngIf="teams && teams.length != 0">
      <simple-notifications></simple-notifications>

      <div class="col" *ngFor="let team of teams">
        <div class="card h-100 bg-dark">
          <img src="static/img/teams/{{ team.logo }}" class="h-50 card-img-top img-fluid" alt="Team image">
          <div class="card-body">
            <h5 class="card-title">{{ team.teamName }} team</h5>
            <p>{{ team.description }}</p>
            <div class="d-flex justify-content-between">
              <a href="javascript:void(0)" routerLink="/Team/{{ team._id }}" class="btn btn-sm btn-primary">
                More Info
              </a>
              <a href="javascript:void(0)" (click)="deleteTeam( team._id )" class="btn btn-sm btn-danger">
                Delete
              </a>
            </div>
          </div>
          <div class="card-footer text-muted">
            Team since {{ team.joinDate | date }}
          </div>
        </div>
      </div>
    </div>
    <div class="bg-dark p-5" *ngIf="!teams || teams.length == 0">
      <h4>No teams yet.</h4>
    </div>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
  </div>
</div>
