<div class="terminal-window">
  <header>
    <div class="button green"></div>
    <div class="button yellow"></div>
    <div class="button red"></div>
  </header>
  <section class="terminal">
    <div class="history">
      <div *ngFor="let command of commands">
        <span>$ {{ command.string }}</span>
        <span *ngIf="command.output" class="gray">{{ command.output }}</span>
      </div>
    </div>
    <div class="newCommand">
      $ <span class="typed-cursor"></span>
    </div>
  </section>
</div>
